@mixin app-wrap {
  width: 80vw;
  max-width: 1000px;
}

.dark {
  --color-bg-body: #303030;
  --color-bg-card: #202020;

  --color-text-primary: #dfdfdf;
  --color-text-dim: #626262;

  --color-accent-1: #CD2C00;
  --color-accent-2: #FFAF00;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden auto;
  font-size: 10px;
  color: #d3d3d3;
  background-color: var(--color-bg-body);

  &__body {
    flex-grow: 1;
    @include app-wrap;
  }

  &__header {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 2em;

    h1 {
      display: block;
      font-size: 5em;
      margin: 1em 0;
      border-bottom: 1px solid var(--color-text-dim);
      @include app-wrap;
    }
  }

  &__footer {
    width: 100vw;
    padding: 2em 0 6em 0;
    text-align: right;
    @include app-wrap;

    a {
      color: var(--color-accent-2);
      font-size: 1.4em;
      text-decoration: none;

      &:hover {
        color: var(--color-accent-1);
      }
    }
  }
}